<!DOCTYPE html>
<html lang="{{ $.Site.Language.Lang }}">
  {{ partial "head" . }}
  <body>
    <div class="container">
      {{ block "header" .}}
        <header class="py-3">
          <div class="row flex-nowrap justify-content-between align-items-center">
            <div class="col-12 text-center">
              <a class="text-dark" href="/"><h4>{{ .Site.Title }}</h1></a>
            </div>
          </div>
        </header>
        {{ partial "nav" . }}
      {{end}}

      {{ block "main" . }}{{ end }}
    </div>
  </body>
</html>